# Ignore all image directory files
images/

# Ignore old excels
old_excels/
#
# Ignore pycache directory
__pycache__/

# Ignore pyc files
*.pyc

# Ignore all images that are Pngs or PDFs
*.pdf

*.png

# ignore the log file fscores building produces
*.log

# ignore potential intermediary csv files
*.csv
